In [ ]:
# prompt: load csv https://archive.ics.uci.edu/ml/machine-learning-databases/00488/Live_20210128.csv

import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00488/Live_20210128.csv")

In [ ]:
df.shape

(7050, 16)

In [ ]:
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,1,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,2,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,3,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,4,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,5,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   int64
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
dtypes: int64(10), object(2)
memory usage: 661.1+ KB

In [ ]:
df.drop(columns=["Column1"], inplace=True)

In [ ]:
df.drop(columns=["Column2", "Column3", "Column4"], inplace=True)

In [ ]:
# prompt: Save 'status_type' as target variable.

y = df['status_type']

In [ ]:
X = df.drop(columns=["status_id", "status_type", "status_published"])

In [ ]:
X.head()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,529,512,262,432,92,3,1,1,0
1,150,0,0,150,0,0,0,0,0
2,227,236,57,204,21,1,1,0,0
3,111,0,0,111,0,0,0,0,0
4,213,0,0,204,9,0,0,0,0

In [ ]:
# prompt: Use LabelEncoder to transform the target variable.

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y_train = le.fit_transform(y)

In [ ]:
y_train.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
y.value_counts()

status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

In [ ]:
# prompt: Use standard scaler to scale the features.

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X)

In [ ]:
# prompt: Train the model using Kmeans clustering (Take Random state=10) with k=2

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=10).fit(X_train)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [ ]:
kmeans.inertia_

32469.791362309636

In [ ]:
# prompt: How many labels were predicted accurately at k=4?

kmeans = KMeans(n_clusters=4, random_state=10).fit(X_train)
labels = kmeans.labels_
correct_labels = sum(y_train == labels)
print("Result: ", correct_labels)

Result:  176

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [ ]:
labels[0]

0

In [ ]:
kmeans.inertia_

32469.791362309636

In [ ]:
# prompt: Train the model using Agglomerative Clustering by setting the parameter as following
# n_clusters=4,affinity='euclidean', linkage='ward'

from sklearn.cluster import AgglomerativeClustering

clustering = AgglomerativeClustering(n_clusters=4, affinity='euclidean', linkage='ward')
clustering.fit(X_train)
labels = clustering.labels_

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_agglomerative.py:1006: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

In [ ]:
labels[0]

3

In [ ]:
# prompt: Enter the number of leaves in the hierarchical tree.

n_leaves = clustering.n_leaves_
print("Number of leaves:", n_leaves)

Number of leaves: 7050

In [ ]:
clustering.n_leaves_

7050

In [ ]:
correct_labels = sum(y_train == labels)
print("Result: ", correct_labels)

Result:  2009

In [ ]:
# prompt: What is the accuracy of the model(in Percentage)?

print("Accuracy: ", correct_labels/float(y_train.size)*100)

Accuracy:  28.496453900709216

In [ ]:
# prompt: load AirQualityUCI.csv

df2 = pd.read_csv("AirQualityUCI.csv")

In [ ]:
df2.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10-03-2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
1,10-03-2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2,10-03-2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN
3,10-03-2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867,NaN,NaN
4,10-03-2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888,NaN,NaN

In [ ]:
# prompt: Drop 'Date', 'Time', 'Unnamed: 15', 'Unnnamed: 16' columns.

df2 = df2.drop(['Date', 'Time', 'Unnamed: 15', 'Unnamed: 16'], axis=1)
df2.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    9357 non-null   float64
 2   NMHC(GT)       9357 non-null   float64
 3   C6H6(GT)       9357 non-null   float64
 4   PT08.S2(NMHC)  9357 non-null   float64
 5   NOx(GT)        9357 non-null   float64
 6   PT08.S3(NOx)   9357 non-null   float64
 7   NO2(GT)        9357 non-null   float64
 8   PT08.S4(NO2)   9357 non-null   float64
 9   PT08.S5(O3)    9357 non-null   float64
 10  T              9357 non-null   float64
 11  RH             9357 non-null   float64
 12  AH             9357 non-null   float64
dtypes: float64(13)
memory usage: 962.0 KB

In [ ]:
df2.isna().sum()

CO(GT)           114
PT08.S1(CO)      114
NMHC(GT)         114
C6H6(GT)         114
PT08.S2(NMHC)    114
NOx(GT)          114
PT08.S3(NOx)     114
NO2(GT)          114
PT08.S4(NO2)     114
PT08.S5(O3)      114
T                114
RH               114
AH               114
dtype: int64

In [ ]:
df2.dropna(inplace=True)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9357 entries, 0 to 9356
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    9357 non-null   float64
 2   NMHC(GT)       9357 non-null   float64
 3   C6H6(GT)       9357 non-null   float64
 4   PT08.S2(NMHC)  9357 non-null   float64
 5   NOx(GT)        9357 non-null   float64
 6   PT08.S3(NOx)   9357 non-null   float64
 7   NO2(GT)        9357 non-null   float64
 8   PT08.S4(NO2)   9357 non-null   float64
 9   PT08.S5(O3)    9357 non-null   float64
 10  T              9357 non-null   float64
 11  RH             9357 non-null   float64
 12  AH             9357 non-null   float64
dtypes: float64(13)
memory usage: 1023.4 KB

In [ ]:
df2.shape

(9357, 13)

In [ ]:
# prompt: What is the value of correlation co-efficient between temperature (T) and relative humidity (RH)?

df2['T'].corr(df2['RH'])

0.8859105241276147

In [ ]:
# prompt: Separate features and target variable.

# Assuming 'AH' is the target variable
y = df2['AH']
X = df2.drop('AH', axis=1)

In [ ]:
y.head()

0    0.7578
1    0.7255
2    0.7502
3    0.7867
4    0.7888
Name: AH, dtype: float64

In [ ]:
# prompt: plit the dataset into training and test dataset in 80:20 proportion with "random_state=1"

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [ ]:
X_test.shape

(1872, 12)

In [ ]:
# prompt: Create a pipeline with scaler as StandardScaler and classifier as MLPRegressor.
# Classifier should have the following properties:
# Classifier should have three hidden layers with 50 neurons each.
# set
# 1
# tol=1e-2, alpha=1e-4,solver="adam", learning_rate_init=0.1, max_iter=50, random_state=1

from sklearn.pipeline import make_pipeline
from sklearn.neural_network import MLPRegressor

pipeline = make_pipeline(
    StandardScaler(),
    MLPRegressor(
        hidden_layer_sizes=(50, 50, 50),
        tol=1e-2,
        alpha=1e-4,
        solver="adam",
        learning_rate_init=0.1,
        max_iter=50,
        random_state=1
    )
)

In [ ]:
# prompt: What is the value of coefficient of determination of the prediction on the training dataset?

pipeline.fit(X_train, y_train)

print("Training set score: %f" % pipeline.score(X_train, y_train))

Training set score: 0.999993

In [ ]:
# prompt: What is the value of coefficient of determination of the prediction on the test dataset?

print("Test set score: %f" % pipeline.score(X_test, y_test))

Test set score: 0.999992

In [ ]:
# prompt: What will be the prediction of the model on the first intance of training set?

pipeline.predict(X_train[0:5])

array([1.59775315, 0.89594646, 0.42318048, 1.42373045, 1.76075225])

In [ ]:
y_train[0:1]

5160    1.4898
Name: AH, dtype: float64

In [ ]:
y_train.head()

5160    1.4898
5196    0.9564
7082    0.4884
5584    1.6515
5642    1.7203
Name: AH, dtype: float64